<!DOCTYPE html>
<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
<link rel="stylesheet" href="Login.css" >
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
					<form action="">
						<h4>LOG IN</h4>
						<input type="text" placeholder="AADHAR CARD NUMBER">
						<input type="text" placeholder="MEDICORD PASSWORD">
						<button class="submit">LET'S GO</button>
                        <a href="#" class="dnthave">Don’t have an account? Sign up</a>
					</form>
				</div>
                
			</div>
			<div class="right">
				<div class="right-text">
					<h2>MEDICORD</h2>
					<h5>A BLOCKCHAIN BASED COMPANY</h5>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>