:root {
    --theme : #a86eff;
    --theme-dark : #6600ff;
    --theme-light : #c7a1ff;
    --white : #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

button {
    cursor: pointer;
}

button, input {
    outline: none;
}

section {
    padding: 10vh;
}

header {
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    padding: 0 45px;
    background: var(--white);
    z-index: 100;
}

.d-flex {
    display: flex;
    align-items: center;
}

.title {
    color: var(--theme);
    font-size: 2.7em;
    font-weight: 700;
    font-family: "dhurjati";
}

.navbar {
    list-style: none;
}

.link {
    padding: 7px 12px;
    color: var(--theme-dark);
    font-size: .95em;
    font-weight: 500;
    text-decoration: none;
}

.btn {
    margin-inline: 5px;
    background: var(--white);
    font-size: .9em;
    border: 1px solid var(--theme-dark);
    border-radius: 10px;
    transition: .4s;
}

.btn:hover {
    background: var(--theme-dark);
    color: var(--white);
}

#landing {
    height: 100vh;
    padding: 0;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 220px 70px;
}

.hero-text {
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 45vw;
    height: 100vh;
    padding: 9vh;
    background: var(--theme-dark);
    color: var(--white);
}

.hero-text::after {
    content: '';
    position: absolute;
    left: 100%;
    border-top: 50vh solid var(--theme-dark);
    border-left: 60px solid var(--theme-dark);
    border-bottom: 50vh solid transparent;
    border-right: 60px solid transparent;
}

.head-text {
    font-size: 2.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.sub-text {
    line-height: 2em;
}
