:root {
    --black : #000000;
    --theme : #a86eff;
    --theme-dark : #781fff;
    --theme-light : #ebddff;
    --white : #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

button, input {
    outline: none;
}

section, footer {
    padding: 12vh 6vw;
}

header {
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    z-index: 100;
}

header, .btn {
    background: var(--white);
    transition: .5s;
}

header, .hero-text {
    padding: 0 6vw;
}

.d-flex {
    display: flex;
    align-items: center;
}

.title {
    color: var(--theme);
    font-family: "dhurjati";
}

.title, .head-text {
    font-size: 2.7em;
    font-weight: 700;
}

.navbar {
    list-style: none;
}

.link {
    padding: 7px 12px;
    color: var(--theme-dark);
    font-size: .95em;
    font-weight: 500;
    text-decoration: none;
}

.btn {
    margin-inline: 3px;
    border: 1px solid var(--theme-dark);
    border-radius: 5px;
}

.btn, .text-box {
    font-size: .9em;
}

.btn:hover {
    background: var(--theme-dark);
    color: var(--white);
}

.scrolled {
    background: var(--theme);
}

.scrolled .title, .scrolled .link {
    color: var(--white);
}

.scrolled .btn {
    border-color: var(--white);
    background: none;
}

#landing {
    height: 100vh;
    padding: 0;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 220px 70px;
}

.hero-text {
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 47vw;
    height: 100vh;
    background: var(--theme-dark);
    color: var(--white);
}

.hero-text::after {
    content: '';
    position: absolute;
    left: 100%;
    border-top: 50vh solid var(--theme-dark);
    border-left: 50px solid var(--theme-dark);
    border-bottom: 50vh solid transparent;
    border-right: 50px solid transparent;
}

.head-text {
    text-transform: uppercase;
}

.sub-text, .text-box {
    line-height: 2em;
}

.about-container {
    gap: 30px;
    margin-block: 30px;
}

.text-box {
    width: 70%;
}

.about-container img {
    width: 30%;
}

.reversed {
    flex-direction: row-reverse;
}

#services, #contact {
    background: var(--theme-light);
}

footer {
    background: var(--black);
}
