<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Medicords - A simple solution for safety</title>
</head>

<body>
    <header class="d-flex">
        <p class="title">Medicords</p>

        <ul class="d-flex navbar">
            <li><a class="link" href="#landing">Home</a></li>
            <li><a class="link" href="#about">About Us</a></li>
            <li><a class="link" href="#services">Services</a></li>
            <li><a class="link" href="#analytics">Partners</a></li>
            <li><a class="link" href="#contact">Contact Us</a></li>
        </ul>

        <div class="d-flex d-section">
            <button class="link btn">Log In</button>
            <button class="link btn">Sign In</button>
        </div>
    </header>

    <section id="landing">
        <div class="d-flex covered-text">
            <p class="inside-text">Safeguarding your wellness</p>
            <p class="sub-text">Storing and accessing medical records becomes modern and easy with the use blockchain technology.</p>
        </div>
    </section>
</body>

</html>