<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Medicords - A simple solution for safety</title>
</head>

<body>
    <header class="d-flex">
        <p class="title">Medicords</p>

        <ul class="d-flex navbar">
            <li><a class="link" href="#landing">Home</a></li>
            <li><a class="link" href="#about">About Us</a></li>
            <li><a class="link" href="#services">Services</a></li>
            <li><a class="link" href="#partners">Partners</a></li>
            <li><a class="link" href="#contact">Contact Us</a></li>
        </ul>

        <div>
            <button class="link btn">Log In</button>
            <button class="link btn">Sign Up</button>
        </div>
    </header>

    <section id="landing">
        <div class="d-flex hero-text">
            <p class="head-text">Safeguarding your wellness</p>
            <p class="sub-text">Storing and accessing medical records becomes modern and easy with the use blockchain technology.</p>
        </div>
    </section>

    <section id="about">
        <p class="title">About Us</p>
        <div class="d-flex about-container">
            <p class="text-box">In today's world, healthcare is an essential facility for every person. Few hospital chains try to control the data and establish their monopoly in the market. But storing medical records on the blockchain holds the promise of revolutionizing the healthcare industry by addressing issues related to security, accessibility, and interoperability. Ethereum's decentralized architecture eliminates the need for a central authority, reducing the risk of data breaches and unauthorized access. Patients can seamlessly access their medical history from any healthcare provider connected to our network.</p>

            <img src="../static/img/about1.avif" alt="Image">
        </div>

        <div class="d-flex about-container reversed">
            <p class="text-box">Leveraging Ethereum's decentralized and tamper-resistant nature, medical records can be securely stored in a transparent and immutable ledger. Each patient's data can be cryptographically linked to their unique identifier, ensuring privacy and authenticity. Smart contracts can play a crucial role in managing access permissions, allowing patients to control who can view their records and under what circumstances. This not only enhances patient confidentiality but also streamlines the sharing of information among healthcare providers.</p>

            <img src="../static/img/about2.jpg" alt="Image">
        </div>
    </section>

    <section id="services"></section>

    <section id="partners"></section>

    <section id="contact"></section>

    <footer></footer>

    <script src="../static/js/script.js"></script>
</body>

</html>
