<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Medicords - A simple solution for safety</title>
</head>

<body>
    <header class="d-flex">
        <p class="title">Medicords</p>

        <ul class="d-flex navbar">
            <li><a class="link" href="#landing">Home</a></li>
            <li><a class="link" href="#about">About Us</a></li>
            <li><a class="link" href="#services">Services</a></li>
            <li><a class="link" href="#partners">Partners</a></li>
            <li><a class="link" href="#contact">Contact Us</a></li>
        </ul>

        <div>
            <button class="link btn">Log In</button>
            <button class="link btn">Sign Up</button>
        </div>
    </header>

    <section id="landing">
        <div class="d-flex hero-text">
            <p class="head-text">Safeguarding your wellness</p>
            <p class="sub-text">Storing and accessing medical records becomes modern and easy with the use blockchain technology.</p>
        </div>
    </section>

    <section id="about">
        <p class="title">About Us</p>
        <div class="d-flex about-container">
            <p class="text-box">Few hospital chains try to control the medical records of their patients and establish their monopoly in the market. But storing medical records on the blockchain holds the promise of revolutionizing the healthcare industry by addressing issues related to security, accessibility, and interoperability. Ethereum's decentralized architecture eliminates the need for a central authority, reducing the risk of data breaches and unauthorized access. Patients can seamlessly access their medical history from any healthcare provider connected to our network.</p>

            <img src="../static/img/about1.avif" alt="Image">
        </div>

        <div class="d-flex about-container reversed">
            <p class="text-box">Leveraging Ethereum's decentralized and tamper-resistant nature, medical records can be securely stored in a transparent and immutable ledger. Each patient's data can be cryptographically linked to their unique identifier, ensuring privacy and authenticity. Smart contracts can play a crucial role in managing access permissions, allowing patients to control who can view their records and under what circumstances. This not only enhances patient confidentiality but also streamlines the sharing of information among healthcare providers.</p>

            <img src="../static/img/about2.jpg" alt="Image">
        </div>
    </section>

    <section id="services">
        <p class="title">Our Services</p>
    </section>

    <section id="partners">
        <p class="title">Our Partners</p>

        <div class="d-flex card-holder">
            <button class="action-btn"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="card">
                <div class="card-title">
                    <img src="../static/img/about1.avif" alt="Image">
                    <p>Apollo Hospitals</p>
                </div>
                <div class="card-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo earum deserunt et vel numquam provident, ipsam modi amet labore minus!</p>
                </div>
                <p class="card-footer">Partners since 2020</p>
            </div>

            <div class="card">
                <div class="card-title">
                    <img src="../static/img/about1.avif" alt="Image">
                    <p>Max healthcare</p>
                </div>
    
                <div class="card-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo earum deserunt et vel numquam provident, ipsam modi amet labore minus!</p>
                </div>
    
                <p class="card-footer">Partners since 2020</p>
            </div>

            <div class="card">
                <div class="card-title">
                    <img src="../static/img/about1.avif" alt="Image">
                    <p>Fortis healthcare</p>
                </div>
    
                <div class="card-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo earum deserunt et vel numquam provident, ipsam modi amet labore minus!</p>
                </div>
    
                <p class="card-footer">Partners since 2020</p>
            </div>

            <button class="action-btn"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </section>

    <section id="contact">
        <p class="title">Contact Us</p>
    </section>

    <footer class="d-flex"><p>Made with ❤️ by CODEit</p></footer>

    <script src="https://kit.fontawesome.com/6ad97ca970.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>